<%- include('./partials/header') %> 

<main>
<h1>Welcome to the new page</h1>

<form action="/artists" method="POST">
    name:<input type="text" name="name"><br>
    team:<input type="text" name="team"><br>
    championships:<input type="number" name="championships" min="0">
    <button type="submit">create player</button>
</form>

</main>

<%- include('./partials/footer') %> 

